.weather-section{

    padding:0 8% 70px;

    animation:fadeUp .7s ease;
}

.weather-card{

    position:relative;

    overflow:hidden;

    max-width:1200px;

    margin:0 auto;

    padding:45px;

    background:rgba(255,255,255,.07);

    backdrop-filter:blur(30px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    box-shadow:0 20px 60px rgba(0,0,0,.28);
}

.weather-content{

    position:relative;

    z-index:2;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.weather-overlay{

    position:absolute;

    inset:0;

    z-index:1;

    overflow:hidden;

    border-radius:24px;
}

.weather-overlay::before{

    content:"";

    position:absolute;

    width:420px;

    height:420px;

    border-radius:50%;

    right:-130px;

    top:-130px;

    opacity:0;

    transition:opacity .5s ease;

    filter:blur(80px);
}

.weather-overlay::after{

    content:"";

    position:absolute;

    inset:0;

    opacity:0;

    transition:opacity .5s ease;

    pointer-events:none;
}

.weather-left h2{

    font-size:5rem;
    line-height:1;

    margin:18px 0;
}

.weather-center{

    display:flex;

    flex-direction:column;

    gap:18px;

    color:var(--text-light);
}

.weather-center p{

    display:flex;

    align-items:center;

    gap:10px;
}
.location{

    display:flex;
    align-items:center;

    gap:8px;

    color:var(--text-light);

    margin-bottom:15px;
}

.condition{

    font-size:1.2rem;

    color:var(--text-light);
}

.weather-right{

    display:flex;
    align-items:center;

    gap:40px;
}

.weather-right svg{

    color:#FFD54A;
}

.details{

    display:flex;
    flex-direction:column;

    gap:18px;
}

.details p{

    display:flex;
    justify-content:space-between;

    gap:60px;

    color:var(--text-light);
}

.details span{

    color:white;
}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(50px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }

}

/*====SUNNY====*/

.weather-card.clear-sky .weather-overlay::before{

    opacity:.65;

    background:

        radial-gradient(

            circle,

            rgba(255,210,90,.9) 0%,

            rgba(255,170,40,.45) 40%,

            transparent 70%

        );

}

.weather-card.clear-sky .weather-overlay::after{

    opacity:.45;

    background-image:

        radial-gradient(rgba(255,255,255,.9) 1px,transparent 1px);

    background-size:90px 90px;

    animation:sunParticles 20s linear infinite;
}

@keyframes sunParticles{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-90px);

    }

}


/*====CLOUDY====*/

.weather-card.cloudy .weather-overlay{

    background:

        radial-gradient(
            circle at 85% 20%,
            rgba(180,190,215,.18),
            transparent 45%
        );

}

.weather-card.cloudy .weather-overlay::before{

    opacity:.35;

    width:320px;

    height:320px;

    right:-80px;

    top:-70px;

    filter:blur(60px);

    background:

        radial-gradient(

            circle,

            rgba(210,220,235,.55) 0%,

            rgba(130,150,180,.20) 45%,

            transparent 70%

        );
}


.weather-card.cloudy .weather-overlay::after{

    opacity:1;

    background-image:

        radial-gradient(circle at 15% 25%, rgba(255,255,255,.12) 0 18px, transparent 20px),

        radial-gradient(circle at 18% 22%, rgba(255,255,255,.12) 0 14px, transparent 16px),

        radial-gradient(circle at 23% 25%, rgba(255,255,255,.12) 0 16px, transparent 18px),



        radial-gradient(circle at 55% 58%, rgba(255,255,255,.10) 0 15px, transparent 17px),

        radial-gradient(circle at 58% 55%, rgba(255,255,255,.10) 0 12px, transparent 14px),

        radial-gradient(circle at 62% 58%, rgba(255,255,255,.10) 0 14px, transparent 16px);

    background-repeat:no-repeat;

    animation:cloudDrift 35s linear infinite;
}


@keyframes cloudDrift{

    from{

        transform:translateX(-35px);

    }

    to{

        transform:translateX(35px);

    }

}


/*====RAIN====*/

.weather-card.rain .weather-overlay,
.weather-card.rain-showers .weather-overlay{

    background:
        radial-gradient(
            circle at 85% 15%,
            rgba(70,120,255,.22),
            transparent 42%
        );

}

.weather-card.rain .weather-overlay::before,
.weather-card.rain-showers .weather-overlay::before{

    opacity:.45;

    width:340px;

    height:340px;

    right:-90px;

    top:-90px;

    filter:blur(70px);

    background:

        radial-gradient(

            circle,

            rgba(90,170,255,.65) 0%,

            rgba(40,110,220,.25) 45%,

            transparent 72%

        );

}

.weather-card.rain .weather-overlay::after,
.weather-card.rain-showers .weather-overlay::after{

    opacity:.55;

    background-image:

        repeating-linear-gradient(

            -25deg,

            transparent 0px,

            transparent 24px,

            rgba(180,220,255,.28) 24px,

            rgba(180,220,255,.28) 26px

        );

    background-size:220px 220px;

    animation:rainMove .8s linear infinite;

}

@keyframes rainMove{

    from{

        transform:
            translateY(-40px)
            translateX(0);

    }

    to{

        transform:
            translateY(40px)
            translateX(12px);

    }

}


/*===SNOW====*/

.weather-card.snow .weather-overlay{

    background:
        radial-gradient(
            circle at 85% 15%,
            rgba(230,240,255,.18),
            transparent 42%
        );

}

.weather-card.snow .weather-overlay::before{

    opacity:.45;

    width:340px;

    height:340px;

    right:-90px;

    top:-90px;

    filter:blur(75px);

    background:

        radial-gradient(

            circle,

            rgba(255,255,255,.75) 0%,

            rgba(180,215,255,.25) 45%,

            transparent 72%

        );

}

.weather-card.snow .weather-overlay::after{

    opacity:.7;

    background-image:

        radial-gradient(circle, rgba(255,255,255,.9) 1.5px, transparent 2px);

    background-size:70px 70px;

    animation:snowFall 10s linear infinite;

}

@keyframes snowFall{

    from{

        transform:
            translateY(-40px)
            translateX(0);

    }

    to{

        transform:
            translateY(40px)
            translateX(18px);
    }
}

/*===THUNDERSTORM====*/

.weather-card.thunderstorm .weather-overlay{

    background:
        radial-gradient(
            circle at 85% 15%,
            rgba(130,110,255,.20),
            transparent 42%
        );

}

.weather-card.thunderstorm .weather-overlay::before{

    opacity:.45;

    width:340px;

    height:340px;

    right:-90px;

    top:-90px;

    filter:blur(70px);

    background:

        radial-gradient(

            circle,

            rgba(170,150,255,.60) 0%,

            rgba(90,70,220,.25) 45%,

            transparent 72%

        );

}

.weather-card.thunderstorm .weather-overlay::after{

    opacity:.55;

    background-image:

        repeating-linear-gradient(

            -25deg,

            transparent 0px,

            transparent 24px,

            rgba(210,220,255,.28) 24px,

            rgba(210,220,255,.28) 26px

        );

    background-size:220px 220px;

    animation:

        rainMove .8s linear infinite,

        lightningFlash 5s ease-in-out infinite;

}

@keyframes lightningFlash{

    0%,
    94%,
    100%{

        filter:brightness(1);

    }

    95%{

        filter:brightness(2);

    }

    96%{

        filter:brightness(.8);

    }

    97%{

        filter:brightness(1.9);

    }

}


/*==FOG==*/

.weather-card.fog .weather-overlay{

    background:
        radial-gradient(
            circle at 85% 15%,
            rgba(220,230,240,.12),
            transparent 42%
        );

}

.weather-card.fog .weather-overlay::before{

    opacity:.45;

    width:420px;

    height:220px;

    right:-40px;

    top:40px;

    border-radius:999px;

    filter:blur(50px);

    background:
        linear-gradient(
            90deg,
            rgba(255,255,255,.22),
            rgba(215,225,240,.08),
            rgba(255,255,255,.22)
        );

    animation:fogMove 12s ease-in-out infinite;

}

.weather-card.fog .weather-overlay::after{

    opacity:.35;

    width:500px;

    height:180px;

    left:-80px;

    bottom:30px;

    border-radius:999px;

    filter:blur(45px);

    background:
        linear-gradient(
            90deg,
            rgba(255,255,255,.16),
            rgba(220,230,245,.05),
            rgba(255,255,255,.16)
        );

    animation:fogMoveReverse 15s ease-in-out infinite;

}

@keyframes fogMove{

    0%{

        transform:translateX(0);

    }

    50%{

        transform:translateX(-40px);

    }

    100%{

        transform:translateX(0);

    }

}

@keyframes fogMoveReverse{

    0%{

        transform:translateX(0);

    }

    50%{

        transform:translateX(35px);

    }

    100%{

        transform:translateX(0);

    }

}