.weather-scene{
    position:absolute;
    inset:0;

    overflow:hidden;

    border-radius:24px;

    pointer-events:none;

    z-index:1;
}

.weather-scene > *{
    position:absolute;
    inset:0;
}