* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, system-ui, sans-serif;
    overflow-x: hidden;
    background: #0f172a;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    font: inherit;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}